
#player_videos {
  background-color: black;
  width: 100%;
  height: 90%
}

.play-controls {
  display: block;
  float: left;
  width: 50%;
}
.player-controls {
  width: 20%;
  padding: 3px;
  margin: 1px;
  border-radius: 3px;
  border: none;
  background-color: #FCEE33;
  height: 30px;
}

.play {
  background: url("../img/play.svg")  #fcee33 no-repeat center center;
  background-size: 75% 75%;
}

.pause {
  background: url("../img/pause.svg")  #fcee33 no-repeat center center;
  background-size: 75% 75%;
}

.fullscreen {
  background: url("../img/fullscreen.svg")  #fcee33 no-repeat center center;
  background-size: 75% 75%;
}

.volume {
  width: 30%;
  background-color: #FCEE33 !important;
  height: 18px !important;
  position: relative;
  top: 5px;
}

.rewind-controls {
  display: block;
  float: right;
  width: 50%;
}

.player-controls.rewind {
  width: 100%;
  background-color: #FCEE33;
  height: 26px;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: #fff;
    height:20px;
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #fff;
    width: 10px;
    height: 20px;
}
