* {
	margin: 0px;
	border: 0px;
	outline: 0px;
	padding: 0px;
}

html,
body {
	font-family:	"Helvetica Neue",
					Tahoma,
					sans-serif;
	font-size: 13px;
	background: url("../img/bg.jpg") no-repeat center center;
	background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	color: #404d53;
}

a {
	text-decoration: none;
	color: #576e85;
}

a:hover {
	color: #fff000;
}

.wrapper {
	max-width: 980px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0px auto;
	padding: 0px 15px;
	overflow: hidden;
}

header {
	padding: 40px;
	background: rgba(255, 255, 255, 0.15);
}

header a {
	color: #fff;
	text-decoration: none;
	display: block;
	float: left;
}

header .logo {
	background: url("../img/logo.svg") no-repeat top center;
	width: 75px;
	height: 81px;
	display: block;
	margin-right: 30px;
	margin-top: 5px;
	float: left;
}

header h1 {
	font-size: 52px;
	font-weight: 100 !important;
}

header span {
	font-weight: 300;
	font-size: 24px;
}

header a.button {
	float: right;
}

a.button {
	display: inline-block;
	min-width: 80px;
	padding: 10px 10px;
	background: #fff000;
	margin-top: 35px;
	border-radius: 4px;
	color: #404d53;
	text-align: center;
	font-size: 16px;
}

nav {
	background: #2e3236;
}

nav a {
	color: #fff;
	font-size: 24px;
	font-weight: 300;
	margin-right: 40px;
	padding: 14px 0px 10px 0px;
	text-decoration: none;
	display: inline-block;
	border-bottom: 4px solid transparent;
}

nav a:hover {
	color: #fff000;
}

nav a:active {
	border-bottom: 4px solid #fff000;
}

main {
	min-height: 800px;
	background: #f7f6f3;
}

.line {
	display: block;
	width: 100%;
	float: left;
}

.line:first-child {
	margin-top: 10px;
}

.line:last-child {
	margin-bottom: 10px;
}

article .block {
	display: block;
	float: left;
	width: 31.29999%;
	margin-right: 3%;
	background: #fff;
	min-height: 200px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 8px;
	overflow: hidden;
}

article .block:last-child {
	margin-right: 0%;
}

.artwork {
	width: 100%;
	height: 200px;
	/*overflow: hidden;*/
}

.artwork img {
	display: block;
	margin: 0px auto;
}

.block span {
	display: block;
	float: left;
	padding: 15px 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.video {
	margin-top: 30px;
}

.video .line {
	overflow: hidden;
}

.video .block {
	max-width: 640px;
	min-height: 390px;
	float: left;
	width: auto;
	margin: 0px !important;
	display: block;
}

.video .block .artwork {
	height: 360px !important;
}

.video .block .artwork iframe {
	background: #ccc;
	width: 640px;
	height: 360px;
	display: block;
	float: left;
}

.video .sidebar {
	display: block;
	float: right;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 280px !important;
	padding: 15px 15px 0px 15px;
}

.video h3 {
	text-transform: uppercase;
	letter-spacing: 1px;
}

.sidebar ul {
	list-style-type: none;
}

.sidebar ul li {
	display: block;
	float: left;
	width: 100%;
	padding: 15px 0px;
	border-bottom: 1px solid #ddd;
}

.sidebar ul li:last-child {
	border-bottom: 0px;
	padding: 15px 0px 15px 0px !important;
}

.sidebar img {
	width: 96px;
	height: 54px;
	background: #ccc;
	display: block;
	float: left;
	margin-right: 15px;
}

.add {
	display: block;
	margin: 30px auto 0px auto;
	width: 360px;
}

.add input[type="text"] {
	background: #fff;
	border-bottom: 2px solid #404d53;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	width: 360px;
	display: block;
	font-size: 16px;
}

.add input[type="text"]:focus {
	border-bottom: 2px solid #fff000;
}

.add input[type="file"] {
	display: block;
	float: left;
	width: 360px;
	height: 360px;
	border: 2px solid #404d53;
	cursor: pointer;
}


.upload {
	border: 6px dashed #ddd;
	margin: 30px 0px 0px 0px;
	width: 348px;
	height: 348px;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	background: url("../img/icon_plus.svg") no-repeat center center;
	cursor: pointer;
}


.upload input[type="file"] {
	border: 0px;
	opacity: 0;
}

input[type="submit"] {
	display: inline-block;
	width: 360px;
	padding: 10px 10px;
	background: #fff000;
	margin-top: 30px;
	border-radius: 4px;
	color: #404d53;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}

.user h3 {
	text-align: center;
}

.userpic {
	width: 200px;
	height: 200px;
	display: block;
	border-radius: 100px;
	margin: 0px auto 30px auto;
}

.userpic img {
	width: 200px;
	height: 200px;
	border-radius: 100px;
}

.like {
	display: block;
	width: 640px;
	text-align: right;
	float: left;
	padding: 15px 0px;
}

.like a {
	margin-right: 15px;
	display: inline-block;
	margin-top: 7px;
}

.video h2 {
	padding-top: 20px;
}

.player_counter {
	font-family: "Helvetica Neue", Tahoma, sans-serif;
	text-align: right;
	color: #576e85;
	margin-top: 60px;
	margin-right: 15px;
}

.player_counter span {
	text-align: right;
	margin: 0;
	padding: 0;
}

